<md-dialog aria-label="NDC search" ng-cloak dnd-draggable class="druggable-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                NDC search
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="product-inventory-dialog-content">
        <md-content class="md-padding">
            <form ng-submit="searchNDCProducts()">
                <div layout="column">
                    <div flex>
                        <h4 style="color: red; font-size: 12px;">Note! You can use search on site - <a href="http://intranet.nhf.org.jm/ndcsearch/drug-search.php" target="_blank">link</a> </h4>
                        <h4>Type Drug Label/Active Ingredient (NB For active ingredient only label names will be shown):</h4>
                    </div>
                    <div flex layout="row">
                        <md-input-container flex="90">
                            <input ng-model="searchNDCForm.text" type="text" required md-no-float id="searchNDCInput" aria-label="Search NDC" ng-disabled="isProcessNDCSearch" />
                        </md-input-container>
                        <md-button class="md-primary md-raised" flex="10" style="margin-top: 0px;" ng-disabled="isProcessNDCSearch">
                            Search
                        </md-button>
                    </div>

                    <div flex ng-if="ndcProducts.length > 0">
                        <md-input-container>
                            <label>Select Product</label>
                            <md-select ng-model="searchNDCForm.product" placeholder="Select Product" ng-change="setNDCProduct()" ng-disabled="isProcessNDCSearch">
                                <md-option ng-repeat="product in ndcProducts" value="{{product.name}}">
                                    {{product.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div flex ng-if="ndcProductItems.length > 0">

                        <md-data-table-container>
                            <table md-data-table class="md-primary md-data-table ndc-search-table">
                                <thead>
                                <tr>
                                    <th style="max-width: 100px" name="{{name}}" ng-repeat="name in ndcProductNames"></th>
                                    <th name=""></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr md-auto-select ng-repeat="obj in ndcProductItems">
                                    <td ng-repeat="item in obj">{{item.value}}</td>
                                    <td><a href="javascript:void(0)" style="font-size: 16px; font-weight:  bold;  color: green;" ng-click="setNDCToForm(obj)">Use</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>

                    </div>
                </div>
            </form>
            <!--<iframe height="320" width="100%" align="center" scrolling="yes" frameborder="0"-->
                    <!--background="#DDEEFF" name="INLINE" id="INLINEID" src="http://intranet.nhf.org.jm/ndcsearch/drug-search.php"  bgcolor="#999999">-->
            <!--</iframe>-->

        </md-content>
    </md-dialog-content>

    <md-dialog-actions class="md-actions">
        <md-button class="md-warn" ng-click="cancel($event)">
            Cancel
        </md-button>
        <input type="submit" class="hide" />
    </md-dialog-actions>
</md-dialog>