<form ng-submit="submit()" class="product-form">
    <md-toolbar class="toolbar-default">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
            </md-button>
            <h2>
                <span translate>Product Details - stock# {{itemForm.id}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-raised md-primary md-hue-1">
                Save
            </md-button>
            <md-button class="md-warn" href="/#/products">
                Cancel
            </md-button>
        </div>
    </md-toolbar>

    <md-content class="padded-content-page md-page-content-block">
        <div layout-align="center center">
            <md-card>
                <md-card-content ng-if="showForm">

                    <div layout="row">

                        <div flex="60" class="md-padding right-bordered-block" layout="column">

                            <div flex layout="row">
                                <md-input-container flex="60">
                                    <label>Product Title</label>
                                    <input ng-model="itemForm.title" required type="text">
                                </md-input-container>

                                <div flex="40" layout="row" class="radio-horizontal">
                                    <label flex="25" flex-gt-lg="20" class="text-right">Type:</label>
                                    <md-radio-group flex="75" flex-gt-lg="80" ng-model="itemForm.is_prescription">
                                        <md-radio-button value="1" class="md-primary">RX</md-radio-button>
                                        <md-radio-button value="0">OTC</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                            <div flex layout="row" class="checkbox-horizontal">
                                <md-checkbox flex="20" class="md-primary" ng-model="itemForm.is_generic" aria-label="Active" ng-true-value="1" ng-false-value="0">
                                    Generic
                                </md-checkbox>
                                <md-autocomplete flex="80"
                                                 ng-disabled="itemForm.is_generic == 1"
                                                 md-input-minlength="2"
                                                 md-input-maxlength="255"
                                                 md-selected-item-change="productSelected(item)"
                                                 md-search-text="searchText"
                                                 md-items="item in querySearch(searchText)"
                                                 md-item-text="item.title"
                                                 md-floating-label="Generic">
                                    <md-item-template>
                                        <span md-highlight-text="searchText">{{item.title}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No matches found.
                                    </md-not-found>
                                </md-autocomplete>
                            </div>

                            <div flex layout="row">
                                <md-input-container flex="50">
                                    <label>Barcode</label>
                                    <input ng-model="itemForm.barcode" type="text">
                                </md-input-container>
                                <div flex="50">
                                    <md-input-container class="md-button-right md-block">
                                        <label>NDC</label>
                                        <input ng-model="itemForm.ndc" type="text" ng-required="itemForm.is_prescription == 1">
                                        <md-button class="md-fab md-mini md-primary" aria-label="Search" ng-click="searchNDC($event)">
                                            <md-icon md-font-icon="fa fa-search"></md-icon>
                                        </md-button>
                                    </md-input-container>
                                </div>
                            </div>

                            <div flex layout="row" style="margin-top: 7px;">
                                <div flex="25">
                                    <md-input-container flex>
                                        <label>PKG size</label>
                                        <input ng-model="itemForm.pkg_size" type="text" ng-change="recalculatePrices()">
                                    </md-input-container>
                                </div>
                                <div flex="25">
                                    <md-input-container flex>
                                        <label>Markup (%)</label>
                                        <input ng-model="itemForm.markup" type="text" ng-change="recalculatePrices()">
                                    </md-input-container>
                                </div>
                                <div flex="25" class="right-bordered-block right-padded">
                                    <md-input-container flex>
                                        <label>Tax</label>
                                        <md-select ng-model="itemForm.tax_id">
                                            <md-option ng-repeat="tax in taxes" value="{{tax.id}}">
                                                {{tax.value}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex="25" class="left-padded">
                                    <md-input-container flex>
                                        <label>PKG price ($)</label>
                                        <input ng-model="itemForm.pkg_price" type="text" disabled>
                                    </md-input-container>
                                </div>
                            </div>

                            <div flex layout="row">
                                <div flex="25">
                                    <md-input-container flex>
                                        <label>PKG cost ($)</label>
                                        <input ng-model="itemForm.pkg_cost" type="text" ng-change="recalculatePrices()" fcsa-number />
                                    </md-input-container>
                                </div>
                                <div flex="25">
                                    <md-input-container flex>
                                        <label>Unit cost ($)</label>
                                        <input ng-model="itemForm.unit_cost" type="text" disabled>
                                    </md-input-container>
                                </div>
                                <div flex="25" class="right-bordered-block right-padded">

                                </div>
                                <div flex="25" class="left-padded">
                                    <md-input-container flex>
                                        <label>Unit price ($)</label>
                                        <input ng-model="itemForm.unit_price" type="text" disabled>
                                    </md-input-container>
                                </div>
                            </div>

                            <div flex layout="row">
                                <md-input-container flex="50">
                                    <label>Location</label>
                                    <input ng-model="itemForm.location" type="text">
                                </md-input-container>

                                <md-input-container flex="50">
                                    <label>Lead time</label>
                                    <input ng-model="itemForm.lead_time" type="text">
                                </md-input-container>
                            </div>

                            <div flex class="label-code-auto-complete-wrap label-code-auto-complete-item-wrap">
                                <label></label>
                                <md-chips md-autocomplete-snap
                                          ng-model="itemForm.label_codes"
                                          md-require-match="true">
                                    <md-autocomplete
                                            md-no-cache
                                            md-delay="500"
                                            md-selected-item-change="labelCodeSelected(item, itemForm)"
                                            md-search-text="labelCodeSearchText"
                                            md-items="item in labelCodeSearch(labelCodeSearchText, itemForm)"
                                            md-item-text="item.name"
                                            placeholder="Labels">
                                        <span md-highlight-text="labelCodeSearchText">{{item.title}}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                          <strong>{{$chip.title}}</strong>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>

                            <md-input-container flex>
                                <label>Description</label>
                                <textarea ng-model="itemForm.description" rows="2"></textarea>
                            </md-input-container>

                        </div>
                        <div flex="40" class="md-padding" layout="column">

                            <div layout="row" layout-align="start center" flex>
                                <span flex></span>
                                <md-checkbox class="md-primary" ng-model="itemForm.is_active" aria-label="Active" ng-true-value="1" ng-false-value="0">
                                    Active
                                </md-checkbox>
                            </div>

                            <div layout="row">
                                <md-input-container flex="66" class="select-box">
                                    <label>Category</label>
                                    <md-select ng-model="itemForm.markup_type_id" ng-change="categoryChanged(markup_type)">
                                        <md-option ng-repeat="markup_type in markup_types" value="{{markup_type.id}}">
                                            {{markup_type.title}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div flex="33"></div>
                            </div>

                            <div layout="row" flex class="quantity-box bottom-bordered-block">
                                <div flex="33">
                                    <md-input-container class="quantity-input">
                                        <label>QOH</label>
                                        <input ng-model="itemForm.qoh" type="text" disabled>
                                    </md-input-container>
                                </div>
                                <div flex="33">
                                    <md-input-container class="quantity-input">
                                        <label>Min qty</label>
                                        <input ng-model="itemForm.min_qty" type="text">
                                    </md-input-container>
                                </div>
                                <div flex="33">
                                    <md-input-container class="quantity-input">
                                        <label>Max qty</label>
                                        <input ng-model="itemForm.max_qty" type="text">
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" class="md-padding">
                                <div flex flex-offset="33">
                                    <md-button flex flex-offset="33" class="md-raised md-primary" ng-disabled="is_add || inventories.length == 0" ng-click="viewInventory($event)">View Inventory</md-button>
                                </div>
                                <div flex></div>
                            </div>

                            <md-input-container flex>
                                <label>Last supplier</label>
                                <input ng-model="itemForm.last_supplier" type="text" disabled>
                            </md-input-container>

                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Last sale</label>
                                    <input ng-model="itemForm.last_sale" type="text" disabled>
                                </md-input-container>
                                <div flex="50"></div>
                            </div>

                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Closest Expiration Date</label>
                                    <input ng-model="itemForm.closest_expiration_date" type="text" disabled>
                                </md-input-container>
                                <div flex="50"></div>
                            </div>

                            <div flex>&nbsp;</div>
                            <div flex>&nbsp;</div>

                        </div>
                    </div>

                </md-card-content>
            </md-card>
        </div>
    </md-content>
</form>
