<md-toolbar class="toolbar-default">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Reconciliation">
            <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
        </md-button>
        <h2>
            <span translate>Reconciliation</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>

<md-content class="padded-content-page md-page-content-block">
    <div layout-align="center center" ng-show="isShow">
        <md-card>
            <md-card-content>

                <div layout="row">

                    <div flex="30" class="text-left">
                        <div layout="row" flex="70">
                            <md-input-container>
                                <label>Insurance Provider</label>
                                <md-select ng-model="form.insurance_provider" aria-label="Insurance Provider" placeholder="Select Insurance Provider" ng-disabled="isShowSearch">
                                    <md-option ng-repeat="insurance_provider in insurance_providers" value="{{insurance_provider}}">
                                        {{insurance_provider}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>

                    <div flex="40" class="text-left" style="padding-top: 20px;">
                        <div layout="row">
                            <div class="text-right" style="padding-top: 6px;">Applied Tax Rate (%):</div>
                            <md-input-container flex="50" md-no-float>
                                <input ng-model="form.gct" type="text" maxlength="6" aria-label="Applied Tax Rate" ng-disabled="isShowSearch" />
                            </md-input-container>
                        </div>
                    </div>

                    <div flex="30" class="text-center" style="padding-top: 13px;">
                        <md-button class="md-raised md-primary" aria-label="Start" ng-click="start()" ng-disabled="!form.insurance_provider">
                            Start
                        </md-button>
                        <md-button class="md-raised" aria-label="Start" ng-click="resetProvider()">
                            Reset Provider
                        </md-button>
                    </div>

                </div>

            </md-card-content>
        </md-card>

        <md-card ng-show="isShowSearch">
            <md-card-content>

                <div layout="row">
                    <div flex="25" class="text-left">
                        <h3>Search</h3>
                    </div>

                    <div flex="45" class="text-left">
                        <div layout="row">
                            <div flex>
                                <md-datepicker ng-model="searchForm.from_date" md-placeholder="From"></md-datepicker>
                            </div>
                            <div flex>
                                <md-datepicker ng-model="searchForm.to_date" md-placeholder="To"></md-datepicker>
                            </div>
                        </div>
                    </div>

                    <div flex="30" class="text-center">
                        <md-button class="md-raised md-primary" aria-label="Start" ng-click="search()">
                            Search
                        </md-button>
                        <md-button class="md-raised" aria-label="Start" ng-click="clearSearch()">
                            Clear Search
                        </md-button>
                    </div>
                </div>

                <div ng-if="searchForm.items.length > 0">
                    <md-divider></md-divider>

                    <md-data-table-container >
                        <table md-data-table class="md-primary md-data-table">
                            <thead md-order="query.order" md-trigger="onChange">
                            <tr>
                                <th name=""></th>
                                <th name="# - Date"></th>
                                <th name="Patient"></th>
                                <th name="Claim"></th>
                                <th name="Paid"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr md-auto-select ng-repeat="item in searchForm.items">
                                <td>
                                    <a href="javascript:void(0)" ng-click="addTransaction(item)" ng-disabled="item.total.length == 0 || item.insurance_paid.length == 0 ">
                                        <md-icon md-font-icon="fa fa-plus md-primary"></md-icon>
                                    </a>
                                </td>
                                <td>{{item.id}} - {{item.created_at_short}}</td>
                                <td>{{item.patient.name}}</td>
                                <td>${{item.total}}</td>
                                <td>${{item.insurance_paid}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-data-table-container>

                    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{searchForm.total}}" md-trigger="onChange"></md-data-table-pagination>

                </div>

                <div ng-if="searchForm.items.length == 0">
                    <div class="text-center md-padding">Nothing found</div>
                </div>


            </md-card-content>
        </md-card>

        <md-card ng-if="reconciliation_list.length > 0">
            <md-card-content>

                <div layout="row">
                    <div flex class="text-left">
                        <h3>Reconcilation List</h3>
                    </div>
                </div>

                <div layout="column">
                    <div flex>
                        <md-data-table-container >
                            <table md-data-table class="md-primary md-data-table">
                                <thead>
                                <tr>
                                    <th name=""></th>
                                    <th name="# - Date"></th>
                                    <th name="Patient"></th>
                                    <th name="Sell Price"></th>
                                    <th name="InsPaid"></th>
                                    <th name="Actual"></th>
                                    <th name="Fee"></th>
                                    <th name="Tax"></th>
                                    <th name="Paid"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr md-auto-select ng-repeat="item in reconciliation_list">
                                    <td>
                                        <a href="javascript:void(0)" ng-click="removeTransaction(item)">
                                            <md-icon md-font-icon="fa fa-times md-primary" style="color: red;"></md-icon>
                                        </a>
                                    </td>
                                    <td>{{item.transaction.id}} - {{item.transaction.created_at_short}}</td>
                                    <td>{{item.transaction.patient.name}}</td>
                                    <td>${{item.total}}</td>
                                    <td>${{item.insurance_paid}}</td>
                                    <td>
                                        <input style="width: 100px;" type="text" ng-model="item.actual" fcsa-number="{ prepend: '$' }" ng-change="recalculate()" />
                                    </td>
                                    <td>${{item.fee}}</td>
                                    <td>${{item.tax}}</td>
                                    <td>${{item.paid}}</td>
                                </tr>
                                </tbody>
                                <tfooter>
                                <tr>
                                    <th style="border-top: 1px solid #e0e0e0;">&nbsp;</th>
                                    <th style="border-top: 1px solid #e0e0e0;">&nbsp;</th>
                                    <th class="text-right" style="padding: 0 28px 0 0; font-weight: normal;vertical-align: middle;border-top: 1px solid #e0e0e0;">Total:</th>
                                    <th style="padding: 0 28px; font-weight: normal;font-size: 13px;vertical-align: middle;border-top: 1px solid #e0e0e0;">${{totals.total}}</th>
                                    <th style="padding: 0 28px; font-weight: normal;font-size: 13px;vertical-align: middle;border-top: 1px solid #e0e0e0;">${{totals.insurance_paid}}</th>
                                    <th style="padding: 0 28px; font-weight: normal;font-size: 13px;vertical-align: middle;border-top: 1px solid #e0e0e0;">${{totals.actual}}</th>
                                    <th style="padding: 0 28px; font-weight: normal;font-size: 13px;vertical-align: middle;border-top: 1px solid #e0e0e0;">${{totals.fee}}</th>
                                    <th style="padding: 0 28px; font-weight: normal;font-size: 13px;vertical-align: middle;border-top: 1px solid #e0e0e0;">${{totals.tax}}</th>
                                    <th style="padding: 0 28px; font-weight: normal;font-size: 13px;vertical-align: middle;border-top: 1px solid #e0e0e0;">${{totals.paid}}</th>
                                </tr>
                                </tfooter>
                            </table>
                        </md-data-table-container>
                    </div>

                    <div flex="50" layout="row" class="md-padding">
                        <div flex="50" layout="row" >
                            <md-input-container flex="40">
                                <label>Reference #</label>
                                <input ng-model="form.reference_id" type="text" required />
                            </md-input-container>
                            <div flex="50">
                                <md-button class="md-raised md-primary" aria-label="Update Transactions" ng-click="updateTransactions()" style="margin-top: 24px;">
                                    Update Transactions
                                </md-button>
                            </div>
                        </div>
                    </div>

                </div>

            </md-card-content>
        </md-card>

    </div>
</md-content>