<md-dialog aria-label="Log details" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-font-icon="fa fa-eye"></md-icon>&nbsp Transaction Request details
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="add-tax-form" style="min-width: 1200px; overflow: hidden;">
        <md-content class="md-padding">
            <h4>Request:</h4>
            <div style="width: 1200px; overflow-x: scroll;">
                <div ng-bind-html="transactionRequestItem.request" style="width: 3000px;"></div>
            </div>

            <h4>Response:</h4>
            <div style="width: 1200px; overflow-x: scroll;">
                <div ng-bind-html="transactionRequestItem.response" style="width: 3000px;"></div>
            </div>

            <md-divider style="margin: 20px 0;"></md-divider>

            <div layout="row" style="overflow-y: scroll; height: 300px;" >
                <div flex =50>
                    <div layout="column">
                        <h4 style="margin: 20px 0 0 0;">Request Parsed</h4>
                        <md-input-container flex ng-repeat="(name, value) in transactionRequestItem.request_parsed">
                            <label>{{name}}</label>
                            <input value="{{value}}" type="text" disabled>
                        </md-input-container>
                    </div>
                </div>
                <div flex =50>
                    <div layout="column">
                        <h4 style="margin: 20px 0 0 0;">Response Parsed</h4>
                        <md-input-container flex ng-repeat="(name, value) in transactionRequestItem.response_parsed">
                            <label ng-if="!isErrorDetails(name)">{{name}}</label>
                            <input value="{{value}}" type="text" disabled ng-if="!isErrorDetails(name)">
                            <div ng-if="isErrorDetails(name)" ng-bind-html="value" style="background-color: #f8f8f8; padding: 8px;"></div>
                        </md-input-container>
                    </div>
                </div>
            </div>

        </md-content>
    </md-dialog-content>

    <md-dialog-actions class="md-actions">
        <md-button class="md-warn" ng-click="cancel($event)">
            Cancel
        </md-button>
        <input type="submit" class="hide" />
    </md-dialog-actions>
</md-dialog>

