<md-toolbar class="toolbar-default">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
        </md-button>
        <h2>
            <span translate>Accounts</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1" aria-label="ADD" ng-click="openAddUserDialog($event)">
            <md-icon md-font-icon="fa fa-plus"></md-icon>&nbsp;<span translate>ADD</span>
        </md-button>
    </div>
</md-toolbar>

<md-content class="padded-content-page md-page-content-block">
    <div layout-align="center center">
        <md-card>
            <md-card-content>

                <md-data-table-container >
                    <table md-data-table class="md-primary md-data-table">
                        <thead md-order="query.order" md-trigger="onChange">
                            <tr>
                                <th name="#"></th>
                                <th name="Name"></th>
                                <th name="Email"></th>
                                <th name="Type"></th>
                                <th name="Active"></th>
                                <th name=""></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr md-auto-select ng-repeat="user in users.data">
                            <td>{{user.id}}</td>
                            <td>{{user.full_name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{getTypeLabel(user.type)}}</td>
                            <td>
                                <md-icon class="md-primary" md-font-icon="fa fa-check" ng-if="user.is_active"></md-icon>
                                <md-icon class="md-warn" md-font-icon="fa fa-times" ng-if="!user.is_active"></md-icon>
                            </td>
                            <td>
                                <a href="javascript:void(0)" ng-click="openEditUserDialog($event, user.id)"><md-icon md-font-icon="fa fa-edit md-primary"></md-icon></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-data-table-container>

                <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{users.total}}" md-trigger="onChange"></md-data-table-pagination>
            </md-card-content>
        </md-card>
    </div>
</md-content>