<md-dialog aria-label=""  ng-cloak>
    <form ng-submit="submit(true)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <md-icon md-font-icon="fa fa-edit"></md-icon>&nbsp;Add Account
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel($event)" aria-label="Cancel">
                    <md-icon md-font-icon="fa fa-times"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content class="md-padding">

                <md-input-container flex>
                    <label>Salesman #</label>
                    <input ng-model="userForm.id" required type="text" readonly>
                </md-input-container>

                <md-input-container>
                    <label>Full Name</label>
                    <input ng-model="userForm.full_name" required type="text">
                </md-input-container>

                <md-input-container>
                    <label>Email</label>
                    <input ng-model="userForm.email" required type="email">
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input ng-model="userForm.pass" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Type</label>
                    <md-select ng-model="userForm.type" required>
                        <md-option ng-repeat="(label, value) in user_types" value="{{value}}">
                            {{label}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Pharmacist Registration#</label>
                    <input ng-model="userForm.pharmacist_registration_number" ng-required="userForm.type == 2" ng-disabled="userForm.type != 2" type="text">
                </md-input-container>

                <md-checkbox class="md-primary" ng-model="userForm.is_active" aria-label="Active Account" ng-true-value="1" ng-false-value="0">
                    Active Account
                </md-checkbox>

            </md-content>
        </md-dialog-content>

        <md-dialog-actions class="md-actions">
            <md-button class="md-primary">
                Save
            </md-button>
            <md-button class="md-warn" ng-click="cancel($event)">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

