@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.container {
    width: 500px;
    margin: 50px 100px;
}

.content-table {
    margin: 25px 0;
}
.content-table td.label {
    text-align: right;
}
.content-table td.value {
    text-align: left;
    padding: 0 0 0 10px;
}

.prescription-items-table {
    margin: 25px 0;
}
.prescription-items-table td {
    text-align: center;
}
.prescription-items-table td.number {
    width: 20px;
}
.prescription-items-table td.product {
    width: 300px;
}
.prescription-items-table td.labels {
    padding-top: 20px;
}
.prescription-items-table td.total {
    text-align: right;
    width: 80px;
}

.pharmacy_info {
    margin-left: 100px;
    width: 200px;
}
.prescription-total-table{
    width: 100%;
    margin: 25px 0;
}
.prescription-total-table td{
    width: 200px;
    text-align: right;
}
.prescription-total-table td.label{
    text-align: right;
}
.prescription-total-table td.total{
    text-align: left;
    padding-left: 20px;
}
/*return drugs*/
.return_drug_info {
    width: 300px;
    margin-left: 100px;
}
.return-drug-items-table {
    margin: 25px 0;
}
.return-drug-items-table td.header {
    padding: 0 20px 20px 0;
    text-align: right;
    width: 150px;
}
.return-drug-items-table td {
    text-align: center;
}
/*represcription labels*/
.prescription-labels-items-table {
    margin: 25px 0;
}
.prescription-labels-items-table td {
    text-align: center;
}
.prescription-labels-items-table td.number {
    width: 20px;
    padding: 10px;
}
.prescription-labels-items-table td.product {
    width: 300px;
    padding: 10px;
}
.prescription-labels-items-table td.labels {
    padding: 10px;
    width: 350px;
    text-align: left;
}