@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.container {
    width: 500px;
    margin: 50px 100px;
}

/*.content-table {*/
    /*margin: 25px 0;*/
/*}*/
/*.content-table td.label {*/
    /*text-align: right;*/
/*}*/
/*.content-table td.value {*/
    /*text-align: left;*/
    /*padding: 0 0 0 10px;*/
/*}*/