<md-toolbar class="toolbar-default">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
        </md-button>
        <h2>
            <span translate>Customers</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1" aria-label="ADD" ng-click="openAddDialog()">
            <md-icon md-font-icon="fa fa-plus"></md-icon>&nbsp;<span translate>ADD</span>
        </md-button>
    </div>
</md-toolbar>

<md-content class="padded-content-page md-page-content-block">
    <div layout-align="center center">
        <md-card>
            <md-card-content>

                <md-data-table-container >
                    <table md-data-table class="md-primary md-data-table">
                        <thead md-order="query.order" md-trigger="onChange">
                        <tr>
                            <th name="#"></th>
                            <th name="Name"></th>
                            <th name="Credit Limit"></th>
                            <th name="Balance"></th>
                            <th name="Available"></th>
                            <th name="Contact"></th>
                            <th name="Phone"></th>
                            <th name=""></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr md-auto-select ng-repeat="item in items.data">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.credit_limit}}</td>
                            <td>{{item.balance}}</td>
                            <td>{{item.available}}</td>
                            <td>{{item.contact}}</td>
                            <td>{{item.phone}}</td>
                            <td>
                                <a href="javascript:void(0)" ng-click="openEditDialog(item.id)"><md-icon md-font-icon="fa fa-edit md-primary"></md-icon></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-data-table-container>

                <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{items.total}}" md-trigger="onChange"></md-data-table-pagination>
            </md-card-content>
        </md-card>
    </div>
</md-content>