<md-toolbar class="toolbar-default">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Order Refund">
            <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
        </md-button>
        <h2>
            <span>Order Refund</span>
            <span ng-if="orderForm.label.length > 0"> - "{{orderForm.label}}"</span>
        </h2>
        <span flex></span>
        <md-button class="md-primary md-raised" ng-click="apply()">
            Apply
        </md-button>
        <md-button class="md-warn" href="/#/order/edit/{{orderForm.id}}">
            Cancel
        </md-button>
    </div>
</md-toolbar>

<md-content class="padded-content-page md-page-content-block">
    <div layout-align="center center" ng-if="showForm" class="order-form">

        <div layout="row">

            <div flex="75">

                <div layout="column">

                    <div flex>
                        <md-card ng-if="orderForm.refund_items.length > 0">
                            <md-card-content>
                                <md-data-table-container>
                                    <table md-data-table class="md-data-table order-items-table">
                                        <thead>
                                        <tr>
                                            <th name="QTY"></th>
                                            <th name="Stock#"></th>
                                            <th name="Description"></th>
                                            <th name="Price"></th>
                                            <th name="Total"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr md-auto-select ng-repeat="item in orderForm.refund_items" ng-if="item.product || item.prescription">

                                            <td ng-if="item.product">
                                                <input type="number" max="{{item.qty}}" min="0" string-to-number ng-model="item.refund_qty" style="width: 40px;" ng-change="productQuantityChanged()" />
                                            </td>
                                            <td ng-if="item.prescription">
                                                <input type="number" max="1" min="0" string-to-number ng-model="item.refund_qty" style="width: 40px;" />
                                            </td>
                                            <td ng-if="item.product">{{item.product.id}}</td>
                                            <td ng-if="item.product">{{item.product.title}}</td>
                                            <td ng-if="item.product">{{item.price}}</td>
                                            <td ng-if="item.product">{{item.total}}</td>

                                            <td ng-if="item.prescription">1</td>
                                            <td ng-if="item.prescription">{{item.prescription.id}}</td>
                                            <td ng-if="item.prescription" class="item_prescription"><md-icon md-font-icon="fa fa-user"></md-icon><span>{{item.prescription.patient.name}}</span></td>
                                            <td ng-if="item.prescription">-</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-data-table-container>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>

            </div>

            <div flex="25">

                <div layout="column">

                    <div flex>
                        <md-card>
                            <md-card-content>
                                <div layout="column" class="total-block">
                                    <div flex layout="row">
                                        <label flex="60">Total:</label>
                                        <input flex="40" type="text" ng-model="orderForm.total" disabled fcsa-number="{ prepend: '$' }" />
                                    </div>
                                    <div flex layout="row">
                                        <label flex="60">Taxes:</label>
                                        <input flex="40" type="text" ng-model="orderForm.taxes" disabled fcsa-number="{ prepend: '$' }" />
                                    </div>
                                    <div flex layout="row">
                                        <label flex="60">Discount:</label>
                                        <input flex="40" type="text" ng-model="orderForm.discount" disabled fcsa-number="{ prepend: '$' }" />
                                    </div>
                                    <div flex layout="row">
                                        <label flex="60">NetDue:</label>
                                        <input flex="40" type="text" ng-model="orderForm.net_due" disabled fcsa-number="{ prepend: '$' }" />
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>

                </div>

            </div>

        </div>


    </div>
</md-content>