<md-toolbar class="toolbar-default">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
        </md-button>
        <h2>
            <span>Order Details</span>
            <span ng-if="orderForm.label.length > 0"> - "{{orderForm.label}}"</span>
        </h2>
        <span flex></span>
        <md-button class="md-warn" href="/#/order">
            Cancel
        </md-button>
    </div>
</md-toolbar>

<md-content class="padded-content-page md-page-content-block">
    <div layout-align="center center" ng-if="showForm" class="order-form">

        <div layout="row">

            <div flex="75">

                <div layout="column">

                    <div flex ng-if="orderForm.status != 'completed'">
                        <md-card>
                            <md-card-content>
                                <div layout="row">

                                    <div class="flex-nogrow">
                                        <md-button class="md-fab md-primary" aria-label="Toggle" ng-click="toggleSearchForm()">
                                            <md-icon md-font-icon="fa fa-tag" ng-if="searchForm == 'product'"></md-icon>
                                            <md-icon md-font-icon="fa fa-user" ng-if="searchForm == 'prescription'"></md-icon>
                                        </md-button>
                                    </div>

                                    <div flex ng-show="searchForm == 'product'">
                                        <form ng-submit="submitProductSearchForm()" class="order-form" layout="row">
                                            <md-autocomplete flex="75"
                                                             required
                                                             md-input-minlength="2"
                                                             md-input-maxlength="255"
                                                             md-delay="500"
                                                             md-input-id="productAutoComplete"
                                                             md-selected-item-change="productSelected(item)"
                                                             md-search-text="productSearchText"
                                                             md-items="item in productQuerySearch(productSearchText)"
                                                             md-item-text="item.title"
                                                             md-floating-label="Search by title"
                                                             placeholder="Search by title">
                                                <md-item-template>
                                                    <span ng-show="item.qoh" md-highlight-text="productSearchText">{{item.title}} ({{item.qoh}})</span>
                                                    <span ng-show="!item.qoh" md-highlight-text="productSearchText">{{item.title}} (0)</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No matches found.
                                                </md-not-found>
                                            </md-autocomplete>

                                            <md-input-container flex="10">
                                                <label>QOH</label>
                                                <input ng-model="searchProductForm.qoh" type="text" disabled>
                                            </md-input-container>

                                            <md-input-container flex="10">
                                                <label>QTY</label>
                                                <input ng-model="searchProductForm.qty" type="text" required>
                                            </md-input-container>

                                            <md-button class="md-icon-button add-search-button" aria-label="Add" flex="5">
                                                <md-icon md-font-icon="fa fa-plus"></md-icon>
                                            </md-button>
                                        </form>
                                    </div>

                                    <div flex="95" ng-show="searchForm == 'prescription'">
                                        <form ng-submit="submitPrescriptionSearchForm()" class="order-form" layout="row">
                                            <md-autocomplete flex="95"
                                                             required
                                                             md-input-minlength="2"
                                                             md-input-maxlength="255"
                                                             md-delay="500"
                                                             md-input-id="prescriptionAutoComplete"
                                                             md-selected-item-change="prescriptionSelected(item)"
                                                             md-search-text="prescriptionSearchText"
                                                             md-items="item in prescriptionQuerySearch(prescriptionSearchText)"
                                                             md-item-text="item.title"
                                                             md-floating-label="Search by name"
                                                             plaveholder="Search by title">
                                                <md-item-template>
                                                    <span md-highlight-text="prescriptionSearchText" ng-class="{'auto-complete-disabled-option': item.status != 'completed'}">{{item.title}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No matches found.
                                                </md-not-found>
                                            </md-autocomplete>

                                            <md-button class="md-icon-button add-search-button" aria-label="Add" flex="5">
                                                <md-icon md-font-icon="fa fa-plus"></md-icon>
                                            </md-button>
                                            <input type="submit" class="hide" />
                                        </form>
                                    </div>

                                </div>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div flex>
                        <md-card>
                            <md-card-content>
                                <div layout="row">

                                    <div layout-align="start" flex="80">
                                        <!--<md-button class="md-raised md-primary" aria-label="Print">-->
                                            <!--[F3] Print-->
                                        <!--</md-button>-->
                                        <!--<md-button class="md-raised md-primary" aria-label="Orders">-->
                                            <!--[F6] Orders-->
                                        <!--</md-button>-->
                                        <md-button class="md-raised md-primary" aria-label="Orders" ng-click="openTenderedDialog()" ng-disabled="!validateOrderForm() || orderForm.status == 'completed'">
                                            [F7] Tendered
                                        </md-button>
                                    </div>

                                    <div layout-align="end" flex="20" layout="row">
                                        <md-button class="md-raised md-primary" aria-label="Refund" ng-click="refund()" ng-disabled="orderForm.status != 'completed' || orderForm.type == 'refund'">
                                            Refund
                                        </md-button>
                                        <md-button class="md-raised md-primary" aria-label="Clear" ng-click="clearPage()">
                                            Clear
                                        </md-button>
                                        <md-button class="md-raised md-primary" aria-label="Orders" ng-click="saveOrder()" ng-disabled="orderForm.status == 'completed' || orderForm.type  == 'refund'">
                                            [F10] Save
                                        </md-button>
                                    </div>

                                </div>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div flex>
                        <md-card ng-if="orderForm.order_items.length > 0">
                            <md-card-content>
                                <md-data-table-container>
                                    <table md-data-table class="md-data-table order-items-table">
                                        <thead>
                                        <tr>
                                            <th name="QTY"></th>
                                            <th name="Stock#"></th>
                                            <th name="Description"></th>
                                            <th name="QOH"></th>
                                            <th name="Price"></th>
                                            <th name="Tax"></th>
                                            <th name="Total"></th>
                                            <th name=""></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr md-auto-select ng-repeat="item in orderForm.order_items" ng-if="item.product || item.prescription">

                                            <td ng-if="item.product">
                                                <input type="number" max="{{item.product.qoh}}" string-to-number ng-model="item.qty" style="width: 40px;" ng-change="productQuantityChanged()" />
                                            </td>
                                            <td ng-if="item.product">{{item.product.id}}</td>
                                            <td ng-if="item.product">{{item.product.title}}</td>
                                            <td ng-if="item.product">{{item.product.qoh}}</td>
                                            <td ng-if="item.product">{{item.price}}</td>
                                            <td ng-if="item.product">{{item.tax}}</td>
                                            <td ng-if="item.product">{{item.total}}</td>

                                            <td ng-if="item.prescription">1</td>
                                            <td ng-if="item.prescription">{{item.prescription.id}}</td>
                                            <td ng-if="item.prescription" class="item_prescription"><md-icon md-font-icon="fa fa-user"></md-icon><span>{{item.prescription.patient.name}}</span></td>
                                            <td ng-if="item.prescription">-</td>
                                            <td ng-if="item.prescription">-</td>
                                            <td ng-if="item.prescription">{{CommonService.priceFormat(item.prescription.tax)}}</td>
                                            <td ng-if="item.prescription">{{CommonService.priceFormat(item.prescription.net_due)}}</td>

                                            <td>
                                                <a title="Remove" ng-click="removeItem(item)" class="remove-item-link">
                                                    <md-icon md-font-icon="fa fa-times "></md-icon>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-data-table-container>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div flex>
                        <md-card ng-if="refunded_orders.length > 0">
                            <md-card-content>

                                <h3 style="color: red;">Refunded:</h3>

                                <md-data-table-container>
                                    <table md-data-table class="md-data-table order-items-table">
                                        <thead>
                                        <tr>
                                            <th name="QTY"></th>
                                            <th name="Stock#"></th>
                                            <th name="Description"></th>
                                            <th name="Date"></th>
                                            <th name=""></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr md-auto-select ng-repeat="item in refunded_orders">

                                            <td ng-if="item.product">
                                                {{item.qty}}
                                            </td>
                                            <td ng-if="item.prescription">
                                                1
                                            </td>

                                            <td ng-if="item.product">
                                                {{item.product_id}}
                                            </td>
                                            <td ng-if="item.prescription">
                                                {{item.prescription_id}}
                                            </td>

                                            <td ng-if="item.product">
                                                {{item.product_title}}
                                            </td>
                                            <td ng-if="item.prescription" class="item_prescription">
                                                <md-icon md-font-icon="fa fa-user"></md-icon><span>{{item.prescription.patient.name}}</span>
                                            </td>
                                            <td>{{item.date}}</td>
                                            <td>
                                                <a title="View" ng-href="/#/order/edit/{{item.id}}">
                                                    <md-icon md-font-icon="fa fa-eye "></md-icon>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-data-table-container>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>

            </div>

            <div flex="25">

                <div layout="column">

                    <div flex>
                        <md-card>
                            <md-card-content>
                                <div layout="column" class="total-block">
                                    <div flex layout="row">
                                        <label flex="60">Total:</label>
                                        <input flex="40" type="text" ng-model="orderForm.total" disabled fcsa-number="{ prepend: '$', maxDecimals: 2 }" />
                                    </div>
                                    <div flex layout="row">
                                        <label flex="60">Taxes:</label>
                                        <input flex="40" type="text" ng-model="orderForm.taxes" disabled fcsa-number="{ prepend: '$' }" />
                                    </div>
                                    <div flex layout="row">
                                        <label flex="60">Discount:</label>
                                        <input flex="40" type="text" ng-model="orderForm.discount" ng-change="discountChanged()" fcsa-number="{ prepend: '$' }" />
                                    </div>
                                    <div flex layout="row">
                                        <label flex="60">NetDue:</label>
                                        <input flex="40" type="text" ng-model="orderForm.net_due" disabled fcsa-number="{ prepend: '$' }" />
                                    </div>
                                    <div flex layout="row">
                                        <label flex="60">Tendered:</label>
                                        <input flex="40" type="text" ng-model="orderForm.tendered" disabled fcsa-number="{ prepend: '$' }" />
                                    </div>
                                    <div flex layout="row">
                                        <label flex="60">Change:</label>
                                        <input flex="40" type="text" ng-model="orderForm.change" disabled fcsa-number="{ prepend: '$' }" />
                                    </div>

                                    <md-divider></md-divider>

                                    <md-button class="md-raised md-primary"
                                               ng-disabled="orderForm.status == 'completed' || CommonService.numbersFormat(orderForm.tendered) < CommonService.numbersFormat(orderForm.net_due) || CommonService.numbersFormat(orderForm.total) == 0 "
                                               aria-label="Complete Order"
                                               ng-click="saveOrder(true)"
                                               ng-disabled="">
                                        Complete Order
                                    </md-button>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div flex>
                        <md-card>
                            <md-card-content>
                                <calculator-widget></calculator-widget>
                            </md-card-content>
                        </md-card>
                    </div>

                </div>

            </div>

        </div>


    </div>
</md-content>