<md-dialog aria-label="Save Order" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                Save Order
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel($event)" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form ng-submit="saveProcess()">
        <md-dialog-content class="add-order-label-form">
            <md-content class="md-padding">
                <div flex>
                    <md-input-container>
                        <label>Order label</label>
                        <input ng-model="orderForm.label" type="text" autofocus required id="order-label"/>
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions class="md-actions">
            <md-button class="md-primary md-raised">
                Save
            </md-button>
            <md-button class="md-warn" ng-click="cancel($event)">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

