<md-dialog aria-label="Calculator" ng-cloak dnd-draggable dnd-draggable-opts="{handle: '#dragg-handle'}" class="druggable-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools" id="dragg-handle">
            <h2>
                <md-icon md-font-icon="fa fa-usd"></md-icon>&nbspTendered
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form ng-submit="submitTenderedForm($event)" name="tenderedFormHtml" novalidate>
        <md-dialog-content class="tendered-dialog-content">
            <md-content class="md-padding">

                <div layout="column">
                    <div flex>
                        <md-input-container flex>
                            <label>Paid Type</label>
                            <md-select ng-model="orderForm.paid_type" required ng-required="true" ng-change="tenderedPaidTypeChanged()">
                                <md-option ng-repeat="(value, type) in paid_types" value="{{value}}" ng-disabled="!type.is_enabled">
                                    {{type.title}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex ng-if="orderForm.paid_type != 'charge' && orderForm.paid_type != 'multi_payment'">
                            <label>Tendered</label>
                            <input
                                    fcsa-number="{ prepend: '$' }"
                                    ng-model="tenderedForm.tendered"
                                    type="text"
                                    required
                                    ng-change="tenderedChanged()"
                                    id="tenderedInput"/>
                        </md-input-container>

                        <md-input-container flex ng-if="orderForm.paid_type == 'other'">
                            <label for="description">Description</label>
                            <textarea id="description" label="Description" name="description" ng-model="orderForm.description"/>
                        </md-input-container>

                        <!--   Charge/Customer   -->
                        <md-autocomplete
                                 flex
                                 ng-if="orderForm.paid_type == 'charge'"
                                 md-input-minlength="2"
                                 md-input-maxlength="255"
                                 md-delay="500"
                                 md-input-id="customerAutoComplete"
                                 md-selected-item-change="customerSelected(item)"
                                 md-search-text="customerSearchText"
                                 md-items="item in customerQuerySearch(customerSearchText)"
                                 md-item-text="item.name"
                                 md-floating-label="Search customer by name"
                                 placeholder="Search customer by name">
                            <md-item-template>
                                <span md-highlight-text="customerSearchText">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                                No matches found.
                            </md-not-found>
                        </md-autocomplete>

                        <md-input-container flex ng-if="customer">
                            <label>Credit Limit</label>
                            <input ng-model="customer.credit_limit" type="text" disabled />
                        </md-input-container>
                        <md-input-container flex ng-if="customer">
                            <label>Balance</label>
                            <input ng-model="customer.balance" type="text" disabled />
                        </md-input-container>
                        <md-input-container flex ng-if="customer">
                            <label>Available</label>
                            <input ng-model="customer.available" type="text" disabled />
                        </md-input-container>

                        <!--   Multi payment   -->

                        <md-input-container flex ng-if="orderForm.paid_type == 'multi_payment'">
                            <label>Cash</label>
                            <input fcsa-number="{ prepend: '$', preventInvalidInput: true }" ng-model="tenderedForm.multi_payment_cash" type="text" ng-change="tenderedChanged(tenderedForm.multi_payment_cash, 'multi_payment_cash')"/>
                        </md-input-container>
                        <md-input-container flex ng-if="orderForm.paid_type == 'multi_payment'">
                            <label>Cheque</label>
                            <input fcsa-number="{ prepend: '$', preventInvalidInput: true }" ng-model="tenderedForm.multi_payment_cheque" type="text" ng-change="tenderedChanged(tenderedForm.multi_payment_cheque, 'multi_payment_cheque')"/>
                        </md-input-container>
                        <md-input-container flex ng-if="orderForm.paid_type == 'multi_payment'">
                            <label>Credit Card</label>
                            <input fcsa-number="{ prepend: '$', preventInvalidInput: true }" ng-model="tenderedForm.multi_payment_credit_card" type="text" ng-change="tenderedChanged(tenderedForm.multi_payment_credit_card, 'multi_payment_credit_card')"/>
                        </md-input-container>
                        <md-input-container flex ng-if="orderForm.paid_type == 'multi_payment'">
                            <label>Other</label>
                            <input fcsa-number="{ prepend: '$', preventInvalidInput: true }" ng-model="tenderedForm.multi_payment_other" type="text" ng-change="tenderedChanged(tenderedForm.multi_payment_other, 'multi_payment_other')"/>
                        </md-input-container>


                    </div>
                </div>

            </md-content>
        </md-dialog-content>

        <md-dialog-actions class="md-actions">
            <md-button class="md-primary md-raised">
                Submit
            </md-button>
            <md-button class="md-warn" ng-click="cancel($event)">
                Cancel
            </md-button>
            <input type="submit" class="hide" />
        </md-dialog-actions>
    </form>
</md-dialog>

