<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <div layout="row" layout-sm="column" layout-margin>
        <tri-widget chartjs-line-widget title="Sale Performance" subtitle="DASHBOARDS.ANALYTICS.DATE" content-layout="row" content-padding>
            <canvas class="chart-line" chart-data="lineChart.data" chart-labels="lineChart.labels" chart-legend="true" chart-series="lineChart.series" chart-options="lineChart.options"></canvas>
        </tri-widget>
        <tri-widget chartjs-pie-widget title="Sale Performance" subtitle="DASHBOARDS.ANALYTICS.DATE" content-padding>
            <canvas class="chart-doughnut" chart-data="pieChart.data" chart-legend="true" chart-labels="pieChart.labels"></canvas>
        </tri-widget>
    </div>
    <div layout="row" layout-sm="column" layout-margin>
        <tri-widget flex load-data-widget="{ referrals: 'app/pharmacy/dashboard/data/referrals.json' }" title="Purchase Orders" subtitle="DASHBOARDS.ANALYTICS.DATE" content-padding>
            <table class="table">
                <thead>
                <tr>
                    <th ng-repeat="header in ::referrals.header | limitTo:3">{{::header}}</th>
                </tr>
                </thead>
                <tbody class="md-caption">
                <tr ng-repeat="referral in ::referrals.data | limitTo:5">
                    <td ng-repeat="data in ::referral | limitTo:3">{{::data}}</td>
                </tr>
                </tbody>
            </table>
        </tri-widget>
        <tri-widget flex load-data-widget="{ referrals: 'app/pharmacy/dashboard/data/referrals.json' }" title="Shipped Orders" subtitle="DASHBOARDS.ANALYTICS.DATE" content-padding>
            <table class="table">
                <thead>
                <tr>
                    <th ng-repeat="header in ::referrals.header | limitTo:3">{{::header}}</th>
                </tr>
                </thead>
                <tbody class="md-caption">
                <tr ng-repeat="referral in ::referrals.data | limitTo:5">
                    <td ng-repeat="data in ::referral | limitTo:3">{{::data}}</td>
                </tr>
                </tbody>
            </table>
        </tri-widget>
    </div>
</div>