<div class="md-padding">
    <legend>Patients</legend>

    <md-data-table-container >
        <table md-data-table class="md-primary md-data-table">
            <thead>
            <tr>
                <th name="{{value}}" ng-repeat="(name, value) in patientsColumns"></th>
                <th name="Database Status"></th>
            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="item in uploaded_patients_file.items_paginated">
                <td>{{item.name}}</td>
                <td>{{item.address}}</td>
                <td>{{item.city}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td style="color:red;" ng-if="item.status_item == 'error'">{{item.status_message}}</td>
                <td style="color:green;" ng-if="item.status_item == 'success'">{{item.status_message}}</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="patientsQuery.limit" md-page="patientsQuery.page" md-total="{{ uploaded_patients_file.items.length}}" md-trigger="getItems('patients')"></md-data-table-pagination>

    <md-button class="md-raised md-primary" ng-if="uploaded_patients_file.result" ng-click="importData('patients', uploaded_patients_file.items)">Import Data</md-button>
</div>