<div class="md-padding">
    <legend>Label Codes</legend>

    <md-data-table-container >
        <table md-data-table class="md-primary md-data-table">
            <thead>
            <tr>
                <th name="{{value}}" ng-repeat="(name, value) in labelCodesColumns"></th>
                <th name="Status"></th>
            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="item in uploaded_label_codes_file.items_paginated">
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td style="color:red;" ng-if="item.status_item == 'error'">{{item.status_message}}</td>
                <td style="color:green;" ng-if="item.status_item == 'success'">{{item.status_message}}</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="labelCodesQuery.limit" md-page="labelCodesQuery.page" md-total="{{ uploaded_label_codes_file.items.length}}" md-trigger="getItems('label_codes')"></md-data-table-pagination>

    <md-button class="md-raised md-primary" ng-if="uploaded_label_codes_file.result" ng-click="importData('label_codes', uploaded_label_codes_file.items)">Import Data</md-button>
</div>