<div>
    <legend style="font-size: 20px;">Match columns</legend>

    <div layout="column" class="match-fields">
        <div fles="50" layout="row" class="field-box top-field-box">
            <div flex class="field-name">
                Inventory field name
            </div>
            <div flex class="field-match">
                Column field name from file
            </div>
        </div>
        <div fles="50" layout="row" ng-repeat="(name, value) in inventoryColumns" class="field-box">
            <div flex class="field-name">
                {{value}}<span ng-class="{'required': value == 'Product Title' || value == 'Quantity' || value == 'Expiry date', 'hide': value != 'Product Title' && value != 'Quantity' && value != 'Expiry date'}" >*</span> =>
            </div>
            <div flex class="field-match">
                <md-input-container>
                    <md-select ng-model="matchInventoryForm[name]" required aria-label="{{value}}">
                        <md-option ng-repeat="field in uploaded_inventory_file.fields" value="{{field}}">
                            {{field}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div>
            <md-button class="md-raised md-primary" ng-click="applyMatching('inventory', uploaded_inventory_file.result, matchInventoryForm)">Apply</md-button>
        </div>
    </div>

</div>