<div class="md-padding">
    <legend>Doctors</legend>

    <md-data-table-container >
        <table md-data-table class="md-primary md-data-table">
            <thead>
            <tr>
                <th name="{{value}}" ng-repeat="(name, value) in doctorsColumns"></th>
                <th name="Status"></th>
            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="item in uploaded_doctors_file.items_paginated">
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.registration_number}}</td>
                <td>{{item.notes}}</td>
                <td style="color:red;" ng-if="item.status_item == 'error'">{{item.status_message}}</td>
                <td style="color:green;" ng-if="item.status_item == 'success'">{{item.status_message}}</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="doctorsQuery.limit" md-page="doctorsQuery.page" md-total="{{ uploaded_doctors_file.items.length}}" md-trigger="getItems('doctors')"></md-data-table-pagination>

    <md-button class="md-raised md-primary" ng-if="uploaded_doctors_file.result" ng-click="importData('doctors', uploaded_doctors_file.items)">Import Data</md-button>
</div>