<md-toolbar class="toolbar-default">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Inventory In">
            <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
        </md-button>
        <h2>
            <span>Inventory In</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1" ng-click="submitForm()">
            Save
        </md-button>
        <md-button class="md-warn" href="/#/inventory">
            Cancel
        </md-button>
    </div>
</md-toolbar>

<md-content class="padded-content-page md-page-content-block">
    <div layout-align="center center" ng-if="showForm" class="order-form">

        <md-card>
            <md-card-content style="padding-top: 0px;">
                <md-input-container flex="50">
                    <label>Reason</label>
                    <textarea ng-model="inventoryForm.reason" rows="2" id="inventory_form_reason"></textarea>
                </md-input-container>
            </md-card-content>
        </md-card>


        <md-card>
            <md-card-content>

                <h3 style="margin: 0px;">Add Product</h3>

                <form ng-submit="addItem()">

                    <div layout="row">

                        <div flex="35">
                            <md-autocomplete flex required
                                             md-no-cache
                                             md-input-id="productAutoComplete"
                                             md-input-minlength="2"
                                             md-input-maxlength="255"
                                             md-selected-item-change="productSelected(item)"
                                             md-search-text="searchText"
                                             md-items="item in querySearch(searchText)"
                                             md-item-text="item.title"
                                             md-floating-label="Drug">
                                <md-item-template>
                                    <span md-highlight-text="searchText">{{item.title}} ({{item.qoh}})</span>
                                </md-item-template>
                                <md-not-found>
                                    No matches found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>

                        <div flex="5">
                            <md-input-container class="quantity-input">
                                <label>QOH</label>
                                <input ng-model="inventoryForm.qoh" type="text" readonly disabled>
                            </md-input-container>
                        </div>

                        <div flex="10">
                            <md-input-container class="quantity-input">
                                <label>QTY IN</label>
                                <input ng-model="inventoryForm.quantity_on" type="text" required>
                            </md-input-container>
                        </div>

                        <div flex="25">
                            <md-input-container flex>
                                <label>Supplier</label>
                                <md-select ng-model="inventoryForm.supplier_id">
                                    <md-option ng-repeat="supplier in suppliers" value="{{supplier.id}}">
                                        {{supplier.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div flex="20" class="md-date-picker-labeled">
                            <label>Expiry date</label>
                            <md-datepicker ng-model="inventoryForm.expiry_date" md-placeholder="Enter date"></md-datepicker>
                        </div>

                        <div flex="5">
                            <md-button class="md-fab md-mini md-primary md-raised add-return-button" aria-label="Add">
                                <md-icon md-font-icon="fa fa-plus"></md-icon>
                            </md-button>
                        </div>

                    </div>
                </form>

            </md-card-content>
        </md-card>

        <md-card ng-if="inventories.length > 0">
            <md-card-content>

                <h3 style="margin: 0px;">Products List</h3>

                <div layout="row" ng-repeat="item in inventories">

                    <div flex="35">
                        <md-input-container>
                            <label>Drug</label>
                            <input value="{{item.product.title}}" type="text" disabled />
                        </md-input-container>
                    </div>

                    <div flex="5">
                        <md-input-container>
                            <label>QOH</label>
                            <input value="{{item.qoh}}" type="text" disabled />
                        </md-input-container>
                    </div>

                    <div flex="10">
                        <md-input-container>
                            <label>QTY IN</label>
                            <input value="{{item.quantity_on}}" type="text" disabled />
                        </md-input-container>
                    </div>

                    <div flex="25">
                        <md-input-container>
                            <label>Supplier</label>
                            <input value="{{item.supplier_name}}" type="text" disabled />
                        </md-input-container>
                    </div>

                    <div flex="20">
                        <md-input-container>
                            <label>Expire Date</label>
                            <input value="{{item.expiry_date_short}}" type="text" disabled />
                        </md-input-container>
                    </div>

                    <div flex="5">
                        <md-button class="md-fab md-mini md-warn md-raised add-return-button" aria-label="Remove" ng-click="removeItem(item)">
                            <md-icon md-font-icon="fa fa-times"></md-icon>
                        </md-button>
                    </div>

                </div>

            </md-card-content>
        </md-card>
    </div>
</md-content>