<md-dialog aria-label="Supplier details form" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-font-icon="fa fa-edit"></md-icon>&nbsp;Supplier details form
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel($event)" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form ng-submit="submit()">
        <md-dialog-content class="add-mark-up-form">
            <md-content class="md-padding">

                <div layout="row">
                    <div flex>
                        <div layout="column">

                            <div flex>
                                <div layout="row">
                                    <div flex>
                                        <md-input-container>
                                            <label>#</label>
                                            <input ng-model="itemForm.id" type="text" disabled>
                                        </md-input-container>
                                    </div>
                                    <div flex>
                                        <md-input-container>
                                            <label>Name</label>
                                            <input ng-model="itemForm.name" type="text" required>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>

                            <div flex>
                                <div layout="row">
                                    <div flex>
                                        <md-input-container>
                                            <label>Address</label>
                                            <input ng-model="itemForm.address" type="text">
                                        </md-input-container>
                                    </div>
                                    <div flex>
                                        <md-input-container>
                                            <label>City</label>
                                            <input ng-model="itemForm.city" type="text">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>

                            <div flex>
                                <div layout="row">
                                    <div flex>
                                        <md-input-container>
                                            <label>Postal Code</label>
                                            <input ng-model="itemForm.postal_code" type="text">
                                        </md-input-container>
                                    </div>
                                    <div flex>
                                        <md-input-container>
                                            <label>Email</label>
                                            <input ng-model="itemForm.email" type="text">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>

                            <div flex>
                                <div layout="row">
                                    <div flex>
                                        <md-input-container>
                                            <label>Last Date</label>
                                            <input ng-model="itemForm.last_date" type="text" disabled>
                                        </md-input-container>
                                    </div>
                                    <div flex>
                                        <md-input-container>
                                            <label>Lead Time</label>
                                            <input ng-model="itemForm.lead_time" type="text">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>

                            <div flex>
                                <md-input-container>
                                    <label>eOrder No</label>
                                    <input ng-model="itemForm.eorder_number" type="text">
                                </md-input-container>
                            </div>

                            <div flex>
                                <md-input-container>
                                    <label>Contact</label>
                                    <input ng-model="itemForm.contact" type="text">
                                </md-input-container>
                            </div>

                            <div flex>
                                <div layout="row">
                                    <div flex>
                                        <md-input-container>
                                            <label>Phone</label>
                                            <input ng-model="itemForm.phone" type="text">
                                        </md-input-container>
                                    </div>
                                    <div flex>
                                        <md-input-container>
                                            <label>Fax</label>
                                            <input ng-model="itemForm.fax" type="text">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </md-content>
        </md-dialog-content>

        <md-dialog-actions class="md-actions">
            <md-button class="md-primary">
                Save
            </md-button>
            <md-button class="md-warn" ng-click="cancel($event)">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

