<md-card flex>
    <md-card-content>

        <div flex>
            <div class="prescription-item-form">
                <form ng-submit="addPrescriptionItem(prescriptionItemFormHtml)" name="prescriptionItemFormHtml">
                    <div layout="row" layout-wrap class="prescription-form-wrapper">
                        <div flex="25" class="md-link-right">
                            <md-autocomplete
                                    md-no-cache="true"
                                    md-autofocus
                                    ng-required="true"
                                    md-selected-item-change="prItemSelected(item)"
                                    md-input-minlength="2"
                                    md-input-maxlength="255"
                                    md-delay="700"
                                    md-input-id="presriptionItemProductAutoComplete"
                                    md-search-text="prescriptionItemForm.prItemSearchText"
                                    md-items="item in prItemQuerySearch(prescriptionItemForm.prItemSearchText)"
                                    md-item-text="item.title"
                                    md-floating-label="Product title">
                                <md-item-template>
                                    <span md-highlight-text="prescriptionItemForm.prItemSearchText">{{item.title}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No matches found.
                                </md-not-found>
                            </md-autocomplete>

                            <a title="Generic"
                                       ng-click="setGeneric($event, prescriptionItemForm)"
                                        ng-class="{ 'active-generic': hasGeneric(prescriptionItemForm) }"
                                        ng-disabled="!prescriptionItemForm.product_generic">
                                <md-icon md-font-icon="fa fa-refresh "></md-icon>
                            </a>
                        </div>
                        <div flex="10">
                            <md-input-container flex>
                                <label>QOH</label>
                                <input ng-model="prescriptionItemForm.qoh" type="text" readonly disabled />
                            </md-input-container>
                        </div>
                        <div flex="10">
                            <md-input-container flex>
                                <label>QTY</label>
                                <input ng-model="prescriptionItemForm.qty" type="text" ng-required="true" ng-change="quantityChanged(prescriptionItemForm)" />
                            </md-input-container>
                        </div>
                        <div flex="10">
                            <md-input-container flex>
                                <label>Days</label>
                                <input ng-model="prescriptionItemForm.course_days" type="text" />
                            </md-input-container>
                        </div>
                        <div flex="10">
                            <md-input-container flex>
                                <label>R/F</label>
                                <input ng-model="prescriptionItemForm.refill_allowed_times" type="text" />
                            </md-input-container>
                        </div>
                        <div flex="10">
                            <md-input-container flex>
                                <label>Fee</label>
                                <md-select ng-model="prescriptionItemForm.fee_id" aria-label="Fee" placeholder="Fee" ng-change="setFeeValue(prescriptionItemForm)" class="prescription-form-fee">
                                    <md-option ng-repeat="fee in fees" value="{{fee.id}}">
                                        {{fee.card_type}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex class="label-code-auto-complete-wrap">
                            <md-chips md-autocomplete-snap
                                      ng-model="prescriptionItemForm.label_codes"
                                      md-require-match="true">
                                <md-autocomplete
                                        md-no-cache
                                        md-delay="500"
                                        md-selected-item-change="labelCodeSelected(item, prescriptionItemForm)"
                                        md-search-text="labelCodeSearchText"
                                        md-items="item in labelCodeSearch(labelCodeSearchText, prescriptionItemForm)"
                                        md-item-text="item.name"
                                        placeholder="Labels">
                                    <span md-highlight-text="labelCodeSearchText">{{item.title}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                                      <strong>{{$chip.title}}</strong>
                                    </span>
                                </md-chip-template>
                            </md-chips>
                        </div>

                        <div flex="5" style="margin-top: 15px;">
                            <md-button class="md-fab md-mini add-item" aria-label="Add">
                                <md-icon md-font-icon="fa fa-plus"></md-icon>
                            </md-button>
                        </div>

                        <div class="prices-block">
                            <div>
                                <span>Price:</span>
                                <span>${{prescriptionItemForm.price}}</span>
                            </div>
                            <div>
                                <span>Tax:</span>
                                <span>${{prescriptionItemForm.tax}}</span>
                            </div>
                            <div>
                                <span>Fee:</span>
                                <span>${{prescriptionItemForm.fee_value}}</span>
                            </div>
                            <div>
                                <span>Total:</span>
                                <span>${{prescriptionItemForm.total}}</span>
                            </div>
                        </div>

                    </div>
                    <input type="submit" value="add" class="hide" />
                </form>
            </div>
        </div>
    </md-card-content>
</md-card>