<div layout="row" class="prescription-item-wrapper">
    <div flex="20" class="md-link-right prescription-item-product">
        <md-autocomplete
                md-no-cache="true"
                ng-required="true"
                md-selected-item-change="prAddedItemSelected(item, prescriptionItem)"
                md-input-minlength="2"
                md-input-maxlength="255"
                md-delay="700"
                md-search-text="prescriptionItem.prItemSearchText"
                md-items="item in prItemQuerySearch(prescriptionItem.prItemSearchText)"
                md-item-text="item.title"
                md-floating-label="RX"
                ng-disabled="prescriptionItem.is_readable && !is_refill">
            <md-item-template>
                <span md-highlight-text="prescriptionItem.prItemSearchText">{{item.title}}</span>
            </md-item-template>
            <md-not-found>
                No matches found.
            </md-not-found>
        </md-autocomplete>

        <a title="Generic"
           ng-click="setGeneric($event, prescriptionItem)"
           ng-disabled="!prescriptionItem.product_generic || (prescriptionItem.is_readable && !is_refill)"
           ng-class="{ 'active-generic': hasGeneric(prescriptionItem) }">
            <md-icon md-font-icon="fa fa-refresh "></md-icon>
        </a>
    </div>
    <div flex="5">
        <md-input-container flex>
            <input ng-model="prescriptionItem.qoh" type="text" readonly disabled aria-label="QOH"/>
        </md-input-container>
    </div>
    <div flex="5">
        <md-input-container flex>
            <input ng-model="prescriptionItem.qty" type="text" ng-change="quantityChanged(prescriptionItem)" aria-label="QTY" ng-disabled="prescriptionItem.is_readable && !is_refill" />
        </md-input-container>
    </div>
    <div flex="5">
        <md-input-container flex>
            <input ng-model="prescriptionItem.course_days" type="text" aria-label="Course Days" ng-disabled="prescriptionItem.is_readable && !is_refill" />
        </md-input-container>
    </div>
    <div flex="5">
        <md-input-container flex>
            <input ng-model="prescriptionItem.refill_allowed_times" type="text" aria-label="Refill Allowed Times" ng-disabled="prescriptionItem.is_readable && !is_refill" />
        </md-input-container>
    </div>
    <div flex="10">
        <md-input-container flex>
            <input ng-model="prescriptionItem.price" type="text" readonly disabled aria-label="Price" />
        </md-input-container>
    </div>
    <div flex="10">
        <md-input-container flex>
            <input ng-model="prescriptionItem.tax" type="text" readonly disabled aria-label="Tax" />
        </md-input-container>
    </div>
    <div flex="10">
        <md-input-container flex>
            <input ng-model="prescriptionItem.fee_value" type="text" readonly disabled aria-label="Fee" />
        </md-input-container>
    </div>
    <div flex="10">
        <md-input-container flex>
            <input ng-model="prescriptionItem.total" type="text" readonly disabled aria-label="Total" />
        </md-input-container>
    </div>
    <div flex class="label-code-auto-complete-wrap label-code-auto-complete-item-wrap">
        <md-chips flex md-autocomplete-snap
                  ng-model="prescriptionItem.label_codes"
                  md-require-match="true"
                  ng-disabled="prescriptionItem.is_readable && !is_refill">
            <md-autocomplete
                    md-no-cache
                    md-delay="500"
                    md-selected-item-change="labelCodeSelected(item, prescriptionItem)"
                    md-search-text="labelCodeSearchText"
                    md-items="item in labelCodeSearch(labelCodeSearchText, prescriptionItem)"
                    md-item-text="item.name"
                    placeholder="Labels"
                    ng-disabled="prescriptionItem.is_readable && !is_refill">
                <span md-highlight-text="labelCodeSearchText">{{item.title}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>
                  <strong>{{$chip.title}}</strong>
                </span>
            </md-chip-template>
        </md-chips>
    </div>
    <a title="Remove" ng-click="removePrescriptionItem(prescriptionItem.index)" class="last-link md-warn" ng-disabled="prescriptionItem.is_readable && !is_refill">
        <md-icon md-font-icon="fa fa-times"></md-icon>
    </a>
    <a title="Adjudicate Information"
       ng-if="!is_refill"
       ng-click="showAdjudicateInfo(prescriptionItem.index)"
       class="pre-last-link md-warn"
       ng-class="{'adjudicate-success': prescriptionItem.adjudicateItemStatus == 'success', 'adjudicate-none': !prescriptionItem.adjudicateItemStatus, 'adjudicate-info': prescriptionItem.adjudicateItemStatus && prescriptionItem.adjudicateItemStatus != 'success'}"
        >
        <md-icon md-font-icon="fa fa-info-circle"></md-icon>
    </a>
</div>