<md-dialog aria-label="Adjudicate Information" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                Adjudicate Information
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="adjudicate-information-dialog-content">
        <md-content class="md-padding">

            <md-data-table-container >
                <table md-data-table class="md-primary md-data-table">
                    <thead>
                    <tr>
                        <th name="#"></th>
                        <th name="Date"></th>
                        <th name="Type"></th>
                        <th name="Status"></th>
                        <th name="Card"></th>
                        <th name="Insurance paid"></th>
                        <th name=""></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr md-auto-select ng-repeat="item in adjudicateInfoItem.prescription_item_requests">
                        <td>
                            <a ng-href="/#/administrator/transaction/view/{{item.id}}">
                                {{item.id}}
                            </a>
                        </td>
                        <td>{{item.created_at}}</td>
                        <td style="text-transform: capitalize;">
                            <span ng-show="item.type != 'adjudicate'">{{item.type}}</span>
                            <span ng-show="item.type == 'adjudicate'">claim</span>
                            <span ng-if="item.type == 'reversal'"> (#{{item.adjudicate_request_id}})</span>
                        </td>
                        <td style="text-transform: capitalize;" ng-class="{'adjudicate-success': item.status == 'success', 'adjudicate-error': item.status == 'error', 'adjudicate-reversed': item.status == 'reversed'}">
                            {{item.status}}
                            <md-icon md-font-icon="fa fa-info-circle" ng-show="item.status == 'error'" style="font-size: 15px;">
                                <md-tooltip md-direction="top">
                                    {{prepareError(item.errors[0].error)}}
                                </md-tooltip>
                            </md-icon>
                        </td>
                        <td>{{item.insurance_card.bin_number}}, {{item.insurance_card.subscriber_number}}</td>
                        <td>
                            <span ng-if="item.status == 'success' && item.type == 'adjudicate'">
                                ${{item.response_parsed.total_amount_paid/100}}&nbsp;
                                ({{CommonService.priceFormat(item.response_parsed.total_amount_paid/CommonService.numbersFormat(adjudicateInfoItem.total))}}%)
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" ng-click="reversalRequest(item)" ng-if="item.status == 'success' && item.type == 'adjudicate'" >Reversal</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>

        </md-content>
    </md-dialog-content>

    <md-dialog-actions class="md-actions">
        <md-button class="md-warn" ng-click="cancel($event)">
            Cancel
        </md-button>
        <input type="submit" class="hide" />
    </md-dialog-actions>
</md-dialog>

