<md-card>
    <md-card-content>
        <md-subheader class="md-primary">
            Prescription Details
        </md-subheader>

        <div layout="column" class="form-no-float">

            <div flex>
                <md-input-container flex>
                    <label>Pharmacist</label>
                    <md-select ng-model="prescriptionForm.pharmacist_user_id" aria-label="Pharmacist" placeholder="Select Pharmacist" md-no-float>
                        <md-option ng-repeat="user in users" value="{{user.id}}">
                            {{user.full_name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div flex class=" md-button-right">
                <label class="labeled-item-shifted">Doctor</label>
                <md-autocomplete flex
                                 class="autocomplete-no-float"
                                 md-no-cache
                                 ng-required="true"
                                 md-selected-item-change="prescriberSelected(item)"
                                 md-input-minlength="2"
                                 md-input-maxlength="18"
                                 md-delay="500"
                                 md-input-id="prescriberAutoComplete"
                                 md-selected-item="selectedPrescriber"
                                 md-search-text="prescriberSearchText"
                                 md-items="item in prescriberQuerySearch(prescriberSearchText)"
                                 md-item-text="item.name"
                                 placeholder="Enter name">
                    <md-item-template>
                        <span md-highlight-text="prescriberSearchText">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>
                <md-button class="md-fab md-mini md-primary shifted-button" aria-label="Add New Doctor" ng-click="addPrescriberDialog($event)">
                    <md-icon md-font-icon="fa fa-plus"></md-icon>
                </md-button>
            </div>

        </div>
    </md-card-content>
</md-card>