<md-card>
    <md-card-content>
        <md-subheader class="md-primary">Summary</md-subheader>

        <div layout="column" class="total-block">
            <div flex layout="row">
                <label flex="60">Total:</label>
                <span>${{CommonService.priceFormat(prescriptionForm.total)}}</span>
            </div>
            <div flex layout="row">
                <label flex="60">Insurance:</label>
                <span>${{CommonService.priceFormat(prescriptionForm.insurance)}}</span>
            </div>
            <div flex layout="row">
                <label flex="60">Patient:</label>
                <span>${{CommonService.priceFormat(prescriptionForm.patient)}}</span>
            </div>

            <div flex layout="row">
                <md-input-container flex="50">
                    <label>Discount (%)</label>
                    <input ng-model="prescriptionForm.discount_percent" type="text" />
                </md-input-container>
                <md-input-container flex="50">
                    <label>Discount ($)</label>
                    <input ng-model="prescriptionForm.discount_flat" type="text" />
                </md-input-container>
            </div>

            <div flex style="text-align: right; padding: 10px; font-weight: bold;">
                NetDue: ${{CommonService.priceFormat(prescriptionForm.net_due)}}
            </div>
        </div>
    </md-card-content>
</md-card>