<div class="prescription-form">
    <md-toolbar class="toolbar-default">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>Prescription Form</span>
            </h2>
            <span flex></span>
            <md-button class="md-raised md-primary md-hue-1" ng-click="submitPrescriptionForm()" ng-if="prescriptionForm.status != 'paid' || is_refill">
                [F2] Save
            </md-button>
            <span ng-if="!is_refill">
                <md-button class="md-raised md-primary md-hue-1" ng-click="submitPrescriptionForm(true)" ng-if="prescriptionForm.status != 'paid'" ng-disabled="prescriptionForm.status == 'completed'">
                    Complete
                </md-button>
            </span>
            <md-button class="md-raised md-warn" href="/#/prescription">
                Cancel
            </md-button>
        </div>
    </md-toolbar>

    <md-content class="padded-content-page md-page-content-block">
        <div layout="column" ng-if="showForm">

            <md-card>
                <md-card-content>
                    <span ng-if="!is_refill">
                         <md-button class="md-raised md-primary md-hue-1" ng-click="adjudicate()" ng-disabled="prescriptionForm.status == 'paid' || prescriptionForm.prescription_items.length == 0">
                             [F8] Adjudicate
                         </md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-click="reverseAllTransactions()" ng-disabled="prescriptionForm.status == 'paid' || !prescriptionForm.id || prescriptionForm.prescription_items.length == 0">
                            Reverse all
                        </md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-click="voidPrescription()" ng-disabled="prescriptionForm.status == 'paid' || !prescriptionForm.id || prescriptionForm.status == 'void' || prescriptionForm.status == 'paid'">
                            Void
                        </md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-click="printPrescription()" ng-disabled="!prescriptionForm.id || prescriptionForm.prescription_items.length == 0 || !printPrescriptionButton">
                            [F3] Print
                        </md-button>
                        <md-button class="md-raised md-primary md-hue-1" ng-click="printLabels()" ng-disabled="!prescriptionForm.id || prescriptionForm.prescription_items.length == 0 || !printPrescriptionLabelsButton">
                            Print Labels
                        </md-button>
                    </span>
                </md-card-content>
            </md-card>

            <ng-include src="CommonService.prepareTemplateSrc('/app/pharmacy/prescription/templates/prescription-form/_prescription_item_form.tmpl.html')" ></ng-include>

            <ng-include src="CommonService.prepareTemplateSrc('/app/pharmacy/prescription/templates/prescription-form/_prescription_items_list.tmpl.html')" ></ng-include>

            <ng-include src="CommonService.prepareTemplateSrc('/app/pharmacy/prescription/templates/prescription-form/_prescription_insurance.tmpl.html')" ></ng-include>

            <div layout="row" flex class="same-height-card">

                <div flex="33">
                    <ng-include src="CommonService.prepareTemplateSrc('/app/pharmacy/prescription/templates/prescription-form/_prescription_patient.tmpl.html')" ></ng-include>
                </div>

                <div flex="33">
                    <ng-include src="CommonService.prepareTemplateSrc('/app/pharmacy/prescription/templates/prescription-form/_prescription_details.tmpl.html')" ></ng-include>
                </div>

                <div flex="33">
                    <ng-include src="CommonService.prepareTemplateSrc('/app/pharmacy/prescription/templates/prescription-form/_prescription_totals.tmpl.html')" ></ng-include>
                </div>

            </div>
        </div>
    </md-content>
</div>
