<md-dialog aria-label="Patient details form" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-font-icon="fa fa-edit"></md-icon>&nbsp;Patient details form
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form ng-submit="submitPatientDialogForm()">
        <md-dialog-content class="add-patient-form">
            <md-content class="md-padding">

                <div layout="row">
                    <div flex>

                        <div layout="column">

                            <md-input-container flex>
                                <label>#</label>
                                <input ng-model="patientDialogForm.id" type="text" disabled>
                            </md-input-container>

                            <md-input-container flex>
                                <label>Name</label>
                                <input ng-model="patientDialogForm.name" type="text" required ng-disabled="is_view">
                            </md-input-container>

                            <md-input-container flex>
                                <label>Address</label>
                                <input ng-model="patientDialogForm.address" type="text" ng-disabled="is_view">
                            </md-input-container>

                            <md-input-container flex>
                                <label>City</label>
                                <input ng-model="patientDialogForm.city" type="text" ng-disabled="is_view">
                            </md-input-container>

                            <md-input-container flex>
                                <label>Email</label>
                                <input ng-model="patientDialogForm.email" type="text" ng-disabled="is_view">
                            </md-input-container>

                            <md-input-container flex>
                                <label>Phone</label>
                                <input ng-model="patientDialogForm.phone" type="text" ng-disabled="is_view">
                            </md-input-container>

                        </div>
                    </div>
                </div>

            </md-content>
        </md-dialog-content>

        <md-dialog-actions class="md-actions">
            <md-button class="md-primary" ng-if="!is_view">
                Save
            </md-button>
            <md-button class="md-warn" ng-click="cancel($event)">
                Cancel
            </md-button>
            <input type="submit" class="hide" />
        </md-dialog-actions>
    </form>
</md-dialog>

