<md-dialog aria-label="Patient History" ng-cloak dnd-draggable class="druggable-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-font-icon="fa fa-file-o"></md-icon>&nbsp;Patient History - #{{patientForm.id}}, {{patientForm.name}}
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="patient-history-form">
        <md-content class="md-padding">

            <md-data-table-container>
                <table md-data-table class="md-primary md-data-table">
                    <thead>
                    <tr>
                        <th name="#"></th>
                        <th name="Date"></th>
                        <th name="Doctor"></th>
                        <th name="Products"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr md-auto-select ng-repeat="item in patientHistoryItems">
                        <td>{{item.id}}</td>
                        <td>{{item.created_at}}</td>
                        <td>{{item.prescriber.first_name}} {{item.prescriber.last_name}}</td>
                        <td>
                            <div ng-repeat="prescription_item in item.prescription_items">
                                {{prescription_item.product.title}}
                                <span ng-repeat="(index, label_code) in prescription_item.label_codes" style="opacity: 0.6; font-size: 11px;">
                                    <span ng-if="index==0">(</span>
                                    {{label_code.description}}
                                     <span ng-if="index != (prescription_item.label_codes.length-1)">, </span>
                                    <span ng-if="index == (prescription_item.label_codes.length-1)">)</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>

        </md-content>
    </md-dialog-content>

    <md-dialog-actions class="md-actions">
        <md-button class="md-warn" ng-click="cancel($event)">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>

