<md-dialog aria-label="Doctor details form" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-font-icon="fa fa-edit"></md-icon>&nbsp;Doctor details form
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form ng-submit="submitPrescriberDialogForm()">
        <md-dialog-content class="add-prescriber-form">
            <md-content class="md-padding">

                <div layout="row">
                    <div flex>

                        <div layout="column">

                            <md-input-container flex>
                                <label>#</label>
                                <input ng-model="prescriberDialogForm.id" type="text" disabled>
                            </md-input-container>

                            <md-input-container flex>
                                <label>First Name</label>
                                <input ng-model="prescriberDialogForm.first_name" type="text" required>
                            </md-input-container>

                            <md-input-container flex>
                                <label>Last Name</label>
                                <input ng-model="prescriberDialogForm.last_name" type="text" required>
                            </md-input-container>

                            <md-input-container flex>
                                <label>Registration Number</label>
                                <input ng-model="prescriberDialogForm.registration_number" type="text" required>
                            </md-input-container>

                            <md-input-container flex>
                                <label>Notes</label>
                                <textarea ng-model="prescriberDialogForm.notes" columns="1" md-maxlength="150" rows="1"></textarea>
                            </md-input-container>

                        </div>
                    </div>
                </div>

            </md-content>
        </md-dialog-content>

        <md-dialog-actions class="md-actions">
            <md-button class="md-primary">
                Save
            </md-button>
            <md-button class="md-warn" ng-click="cancel($event)">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

