<md-dialog aria-label="NDC search" ng-cloak dnd-draggable class="druggable-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>NDC search</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                <md-icon md-font-icon="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="product-inventory-dialog-content">
        <md-content class="md-padding">

            <iframe height="320" width="100%" align="center" scrolling="yes" frameborder="0"
                    background="#DDEEFF" name="INLINE" id="INLINEID" src="http://intranet.nhf.org.jm/doctorsearch/doctor-search.php"  bgcolor="#999999">
            </iframe>

        </md-content>
    </md-dialog-content>

    <md-dialog-actions class="md-actions">
        <md-button class="md-warn" ng-click="cancel($event)">
            Cancel
        </md-button>
        <input type="submit" class="hide" />
    </md-dialog-actions>
</md-dialog>