<md-toolbar class="toolbar-default">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
        </md-button>
        <h2>
            <span translate>Prescription</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1" aria-label="ADD" href="/#/prescription/add">
            <md-icon md-font-icon="fa fa-plus"></md-icon>&nbsp;<span translate>ADD</span>
        </md-button>
    </div>
</md-toolbar>

<md-content class="padded-content-page md-page-content-block">
    <div layout-align="center center">
        <md-card>
            <md-card-content>

                <md-data-table-container >
                    <table md-data-table class="md-primary md-data-table">
                        <thead md-order="query.order" md-trigger="onChange">
                        <tr>
                            <th style="padding: 0 10px;" name="#"></th>
                            <th style="min-width: 100px;" name="Patient"></th>
                            <th style="min-width: 100px;" name="Doctor"></th>
                            <th name="RX'IST"></th>
                            <th name="Total / NetDue"></th>
                            <th name="Status"></th>
                            <th name="Date"></th>
                            <th style="min-width: 150px;" name=""></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr md-auto-select ng-repeat="item in items.data">
                            <td style="padding: 0 10px;">{{item.id}}</td>
                            <td>{{item.patient.name}}</td>
                            <td>{{item.prescriber.name}}</td>
                            <td>{{item.creator_user.full_name}}</td>
                            <td><span ng-if="item.total && item.net_due">${{CommonService.priceFormat(item.total)}} / ${{CommonService.priceFormat(item.net_due)}}</span></td>
                            <td>
                                <span ng-show="item.status == 'in_process'">In Process</span>
                                <span ng-show="item.status == 'completed'">Completed</span>
                                <span ng-show="item.status == 'paid'">Paid</span>
                                <span ng-show="item.status == 'void'">Void</span>
                            </td>
                            <td>{{item.created_at}}</td>
                            <td>
                                <a href="/#/prescription/edit/{{item.id}}"><md-icon md-font-icon="fa fa-edit md-primary"></md-icon></a>
                                <md-button class="table-row-button" ng-click="voidPrescription(item)" ng-disabled="item.status == 'void' || item.status == 'paid'">Void</md-button>
                                <md-button class="table-row-button" ng-click="refillPrescription(item)">Refill</md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-data-table-container>

                <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{items.total}}" md-trigger="onChange"></md-data-table-pagination>
            </md-card-content>
        </md-card>
    </div>
</md-content>